<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hbnb</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <!-- Add other stylesheets similarly -->
</head>
<body>
    <header>
        <!-- Header content -->
    </header>
    <main>
        <!-- Main content -->
    </main>
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
